colorama==0.4.6
fastapi==0.110.0
gradio==4.24.0
openai==1.13.3
langchain==0.1.13
langchain_community==0.0.29
langchain_core==0.1.36
langchain_experimental==0.0.55
langchain_openai==0.1.1
latex2mathml==3.77.0
Markdown==3.5.2
matplotlib==3.7.3
nltk==3.8.1
numpy==1.24.2
pandas==2.2.1
py7zr==0.21.0
rarfile==4.1
Requests==2.31.0
scholarly==1.7.11
SQLAlchemy==2.0.22
uvicorn==0.29.0
wordcloud==1.9.3
